html, head, body, div, h1, h2, h3, p, a {
    padding: 0;
    border: 0;
    margin: 0;
}
body {
    padding: none;
    margin: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 249, 233);
}
div {
    display: block;
}
ol#flexbox {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
li {
    height: 26px;
    padding-top: 10px;
    color: white;
    font-size: 16px;
    text-align: center;
    flex-grow: 1;
    background-color: rgb(248, 177, 45);
}
li:first-child {  text-align: left; padding-left: 25px; text-decoration: none; list-style-type: none; color: white; flex-grow: 15;}
li:nth-child(2) { text-decoration: none; list-style-type: none; color: white; }
li:nth-child(3) { text-decoration: none; list-style-type: none; color: white; }
li:nth-child(4) { text-decoration: none; list-style-type: none; color: white; }
li:last-child { text-decoration: none; list-style-type: none; color: white;}

li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.contentboxes {
    width: 750px;
    margin: 0 auto;
}
.box {
    display: inline-block;
    width: 150px;
    height: 375px;
    padding: 10px;
    border: solid  rgb(248, 177, 45) 2px;
    margin: 15px 5px;
    border-radius: 5px;
    background-color: white;
}
.box p {
    margin-left: 7%;
}
h1 {
    font-size: 16px;
    font-weight: normal;
}
p {
    font-size: 10px;
}
.moreinfo {
    background-color:  rgb(248, 177, 45);
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 5px 40px;
    border-radius: 7px;
}
